{% extends "base.html.twig" %}

{% block menu %}
    {% include "menu.html.twig" %}
{% endblock menu %}

{% block body %}

    <table class="main">
    <form action="{{ path('update_mains') }}" method="post">
        <tr>
            <td>First Main</td>
            <td>
                <select name="main_job">
                    <option></option>
                    {% for job in jobs %}
						{% if job == user.mainJob %}
							<option selected="true">{{ job }}</option>
						{% else %}
							<option>{{ job }}</option>
						{% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Second Main</td>
            <td>
                <select name="sub_job">
                    <option></option>
                    {% for job in jobs %}
						{% if job == user.subJob %}
							<option selected="true">{{ job }}</option>
						{% else %}
							<option>{{ job }}</option>
						{% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Update</button></td>
        </tr>
        <tr>
            <td colspan="2">It costs <b>20</b> points to <b>change</b> mains, <b>40</b> to change both</td>
        </tr>

    </form>
    </table>
{% endblock body %}